body {
    background-color: #252227;
}
.game {
  float: left;
}
#canvas {
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.messagesContainer {
  float: right;
  height: 250px;
  width: 250px;
  padding: 3px;
  background:#D3D3D3;
  height: 100vh;
}
.messages {
  height: 95vh;
  overflow: auto;
  background: #fff;
}
